
:root {
    --color-primary: #3b57e1;
    --body-color: #171717
}

.body {
    background-color: var(--body-color)
}

#input-button {
    visibility: hidden;
}

#description-input {
    width: 65%;
    font-size: medium;
    font-family: 'Inter', serif;
    border: 2px solid;
    border-radius: 5px;
    resize: none;
    width: 90%;
    height: 123px;
}

#title-input {
    font-size: 30px;
    text-align: -webkit-center;
    outline: none;
    padding-bottom: 5px;
}

.body {
    text-align: -webkit-center;
}

.create-course-form {
    width: min-content;
}

.content {
    /* border: 1px solid black; */
    width: 555px;
    border-bottom: none;
    background-color: white;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    /* box-shadow: 47px 20px; */
    box-shadow: 0 6px 29px rgb(0 0 0 / 44%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.wrapper {
    text-align: left;
}

.input {
    width: 100%;
    border: none;
    caret-color: transparent ;
}

.field {
    display: flex;
    padding: 10px 0px 10px 0px;
    /* width: 100%; */
    margin: 0px 80px 0px 80px;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
}

.description {

    display: block;
    padding-top: 10px;
    border-bottom: none;
    text-align-last: center;
    padding-bottom: 30px;
}

.header {
    font-family: 'Inter';
    padding-top: 13px;
    text-align: -webkit-center;
    margin-bottom: 5px;
}

.heading {
text-align: center;
font-family: Inter;
font-size: x-large;
}

.dropdowns {
    display: flex;
    gap: 35px;
    place-content: center;
    margin: 20px 30px 0px 30px;
    border-bottom: 2px solid;
    padding-bottom: 25px;
}

.dropdown {
display: flex;
gap: 45px;
place-content: center;
padding: 15px 0px;
border-radius: 4px;
font-size: medium;
text-align: -webkit-center;
}

.date-field {
font-family: 'Inter';
padding: 0px 0px 20px;
display: block;
text-align: center;
margin: 0;
}

.date-field h1 {
font-size: x-large;
}

#starting-date-input {
width: 139px;
text-align-last: center;
font-size: larger;
padding: 0px 0px 0px;
padding: 10px;
border: 1px solid;
border-radius: 6px;
padding-bottom: 17px;
}

.mega-div {
display: block;
text-align: -webkit-center;
}

.mega-div h1 {
font-family: Inter;
}

.file-div {
display: inline-block;
}

.file-input {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
/*font-size: ;*/
width: 0;
height: 100%;
opacity: 0;
}

.file-div label {
visibility: hidden;
}



.fa-cloud-arrow-up.show {
visibility: visible;
}

.fa-cloud-arrow-up {
    position: absolute;
    left: 43%;
    top: 44%;
    font-size: 60px;
    transition: visibility 0.3s ease-in;
    visibility: hidden;
}

#blah {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    transition: opacity 0.4s ease-in-out;
}


#blah:hover {
cursor: pointer;
opacity: 0.4;
}

.image-cropper {
position: relative;
}

#picture-form {
align-self: center;
}

.button-div {
    text-align: -webkit-center;
    margin: 30px;
}

.button-div:hover {
    cursor: pointer;
}

#next-button {
    padding: 20px 15px;
    background-color: #009bd5;
    transition: background-color 0.2s ease;
    /* left: 0; */
    width: 100%;
    margin: 0;
    border-left: none;
    border-right: none;
}


#next-button:hover {
    cursor: pointer;
    background-color: #657ced;
}

.submit-button {
    padding: 15px 30px;
    font-size: larger;
    font-family: 'Inter';
    border-radius: 7px;
    background-color: cornflowerblue;
}

.inputs {
    display: grid;
    text-align: left;
    gap: 30px;
}

.skill-label {
    margin: 0px 0px 7px 1px;
    display: block;
    font-family: 'Inter';
    font-weight: 600;
    font-size: large;
}

.skill-input {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    position: static;
    outline: none;
    resize: none;
    /* border: none; */
    font-family: system-ui;
    font-size: medium;
}

#skill-1 #skill-2 #skill-3 {
    padding-bottom: 20px;
}


/* CODEPEN NEXT BUTTON CSS */


@import url(https://fonts.googleapis.com/css?family=Raleway:300);

.next-button {
    background: royalblue;
    color: black;
    width: 100%;
    height: 80px;
    /* position: absolute; */
    padding: 0;
    border: 0;
    font-size: 30px;
    font-family: 'Inter';
    transition: 2.9s;
    overflow: hidden;
    font-weight: bold;
    /* padding: 1px; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.next-button:focus {
outline: 0;
}
.next-button:before {
content: "";
display: block;
position: absolute;
background: rgba(255, 255, 255, 0.5);
width: 60px;
height: 100%;
left: 30px;
top: 0;
opacity: 0.5;
filter: blur(30px);
transform: translateX(-200px) skewX(-15deg);
}
.next-button:after {
content: "";
display: block;
position: absolute;
background: rgba(255, 255, 255, 0.2);
width: 30px;
height: 100%;
left: 30px;
top: 0;
opacity: 0;
filter: blur(5px);
transform: translateX(-100px) skewX(-15deg);
}
.next-button:hover {
background: #00a3f6;
cursor: pointer;
}
.next-button:hover:before {
transform: translateX(300px) skewX(-15deg);

opacity: 0.6;
transition: 0.7s;
}

.next-button:hover:after {
transform: translateX(300px) skewX(-15deg);

opacity: 1;
transition: 0.7s;
}


/* BUTTON MASK STYLES BELOW*/


@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");



.button-container-1 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px solid;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.button-container-1 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    background: var(--color-primary);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.button-container-2 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
}
.button-container-2 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 11px;
    margin-top: 17px;
    overflow: hidden;
    font-weight: bold;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
a {
    color: #00ff95;
}

.button-container-3 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
}
.button-container-3 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;
}
.button-container-3 button:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;
}
