



/*  FROM HERE UNDER WE GO ARE MY CSS STYLES*/
.browse-wrapper {
    display: inline;
}

.browse-wrapper.b2{
    margin-top: 14rem;
}


.random {
    background-color: black;
    position: absolute;
    padding: 27px;
    margin: 66px 26px 24px 70px;
    border-radius: 50%;
    z-index: 20;
}

.random2 {
    background-color: black;
    position: absolute;
    padding: 27px;
    margin: 66px 52px 36px 15px;
    border-radius: 50%;
}

.heading {
    margin-top: 5rem;
    /* font-size: smaller; */
    position: relative;
    left: 19%;
    font-family: 'Questrial';
}

.heading.java {
    position: absolute;
    margin-top: 260px;
}

.browse-courses {

    display: flex;
    gap: 10px;
    margin: 13px 0px 0px 65px;
    max-height: 220px;
}

.browse-java {
    margin-top: 21rem;
}

.difficulty-course {
font-size: 12px;
opacity: 0.6;
font-family: 'Inter';
}

.course-element {
    position: absolute;
    width: fit-content;
    max-width: 238px;
    transition: transform 0.8s ease-in-out ,
    opacity 400ms linear,
    visibility 0ms linear 400ms,
    box-shadow .15s linear;
}





.course-container {
transition: all 0.2s ease-in-out !important;
}

.course-container:hover {
transform: translateY(-5px);
cursor: pointer;
}

.course-image {
max-width: 239px;
min-width: 239px;
width: 100%;
max-height: 140px;
min-height: 140px;
height: 200px;
border-radius: 10px;
border: 1px solid black;
box-shadow: 0 3px 6px rgb(0 0 0 / 45%);
}



.topic-course {
display: none
}

.col-12 {
display: flex;
gap: 10px;
margin: 0px 0px 0px 5px
}

.course-text-content {
margin: 0px 0px 0px 5px
}

.check {
display: inline-block;
transform: rotate(45deg);
height: var(--height);
width: var(--width);
border-bottom: var(--borderWidth) solid var(--borderColor);
border-right: var(--borderWidth) solid var(--borderColor);
margin-right: 20px;
}

.skills-container {
margin-bottom: 13%;
}

.skill-element {
display: flex;
margin-bottom: 20px;
}

.modal-skills {
color: darkslategray;
text-align: -webkit-left;
}

.one {

}
.two {

}
.three {

}


/* FROM HERE ITS THE REVIEW STARS ELEMENTS */

.review {
    color: #76c0b3;
}

.container {
    display: flex;
    gap: 10px;
}

/* FROM HERE DOWN ITS NEW ARROWS STYLES*/

.arrow {
    position: absolute;
    top: 50%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgrey;
    transition: all 200ms ease;
    /* margin: -252px 60px 32px 50px; */
    position: absolute;
    margin: 80px 57px 18px 57px;}

.arrow.java-arrow {
    margin: 36rem 58px 21px 58px
}

.arrow.left {
    left: 0;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
    right: 0;
    transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
    border-color: crimson;
    box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
}

@media only screen and(max-width: 960px) {
    .works {
        transform: scale(0.7);
        width: 73rem;
    }
}

@media only screen and (max-width: 1334.22px) {
    .browse-courses {
        transform: scale(0.9);
        position: relative;
        right: 6%;
    }
}

@media only screen and (max-width: 1212.93px) {
    .browse-courses {
        transform: scale(0.9);
        position: relative;
        right: 16%;
    }
    .arrow.left {
        left: -80px;
    }
    .arrow.right {
        right: -76px;
    }
}

