body {
    font-family: "Century Gothic", "Lato", sans-serif;
    margin: 0px
}

a {
    text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flow-root;
    flex-direction: initial;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
}
.et-hero-tabs h1,
.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}
.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}
.et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }
    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}



/* BELOW ARE MY CHANGES */


#browse-wrapper {

}

.random {
    background-color: black;
    position: absolute;
    padding: 27px;
    margin: 75px 26px 24px 70px;
    border-radius: 50%;
    z-index: 20;
}

.random2 {
    background-color: black;
    position: absolute;
    padding: 27px;
    margin: 75px 52px 36px 1593px;
    border-radius: 50%;
}

.heading {
    margin-top: 41px;
    font-size: xx-large;
}

#browse-courses {

    display: flex;
    gap: 10px;
    margin: 15px 0px 0px 95px;

}

.course-element {
    position: absolute;
    width: fit-content;
    transition: transform 0.8s ease-in-out ,
    opacity 600ms linear,
    visibility 0ms linear 600ms;
}


.course-container {
    transition: all 0.2s ease-in-out !important;
}

.course-container:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

#course-image {
    max-width: 240px;
    min-width: 240px;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    border: 2px solid black;
}


.course-text-content {
    margin: 0px 0px 0px 5px
}



/*  ARROWS SLIDER CSS BELOW */

.arrow-wrapper {

}

.arrow {
    z-index: 100;
    position: absolute;
    /* top: 40%; */
    width: 15px;
    height: 15px;
    /* height: auto; */
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgrey;
    transition: all 200ms ease;
    margin: 101px 72px 47px 89px;
}

.arrow.left {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
  right: 0;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
  border-color: dodgerblue;
  box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.arrow:before:hover {
    transform: translateX(5px);
}















