/* INPUT CHECK*/

.body {
    margin-top: 55px
}

.form-control small {
    visibility: hidden;
    margin: 3px 0px 8px 2px;
    float: left;
}

.form-control input {
    border: none;
}

.form-control.success input {
    border-color: limegreen;
}

.form-control.success small {
    visibility: hidden;
}

.form-control.error input {
    border-color: red;
}

.form-control.error small {
    visibility: visible;
    color: #EF3B3A;
}

/* INPUT CHECK */

.form {
    z-index: 1000;
    position: relative;
    background: #0e121ad1;
    max-width: 400px;
    margin: 0 auto 70px;
    padding: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 35px;
}
.form .thumbnail {
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    width: 200px;
    height: 200px;
    margin: 0 auto 30px;
    padding: 56px 28px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}
.form .thumbnail img {
    display: block;
    width: 100%;
}
.form input {       outline: 0;
    font-family: system-ui;
    width: 100%;
    margin: 0 0;
    padding: 15px;
    /* font: small-caption; */
    background-color: #0f141c;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 20px;
    /* text-align: center; */
    border-radius: 6px;
    color: white;
}
.form button {
    outline: 0;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
    margin-top: 17px;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 17px;
    font-family: sans-serif
}
.form .message a {
    color: #EF3B3A;
    text-decoration: none;
}
.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

/* END Form */
/* Demo Purposes */
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#video {
    z-index: -99;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}