:root {
    --page-background-color: #171717;
    --page-secondary-color : #fd4e38;
}


.content {
    display: flex;
    gap: 2%;
    place-content: center;
}

.col {
    text-align-last: center;
    border-bottom: solid 5px #171717;
    padding: 5px 5px 5px 5px;
}

.row {
    transition: 0.25s;
}

.row:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translateX(0.2em);
}

.head-row {
    background-image: linear-gradient(147deg, #fd3838 0%, #fe8a39 74%);
    box-shadow: 4px 13px 30px 1px rgb(252 56 56 / 20%);
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

#course-col {
    width: 27%;
}

.first-th {
    border-top-left-radius: 20px
}

.last-th {
    border-top-right-radius: 20px
}

.incoming {
    color: #497f9e;
}

.outgoing {
    color: #9c78ab;
}

.transaction-creation-date {
    font-size: 55%;
}

.buttons {
    display: flex;
    place-content: center;
    gap: 5%;
    margin-top: 5%;
    position: relative;
    top: -40%;
}

.modal-deposit-info {
    visibility: hidden;
    display: none;
}

.modal-send-info {
    visibility: hidden;
    display: none;
}

.info-active {
    visibility: visible;
    display: block;
    position: relative;
    top: 8%;
}

.wallet-balance {

    font-size: 3.5rem;
    position: relative;
    text-align: center;
    padding: 9rem;
    top: -52%;
    padding-bottom: 4rem;
    color: #000000de;
    padding-top: 4rem;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgb(252 56 56 / 20%);
    border-radius: 20px;
}

.transactions {
    background-color: #49403e;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}

.transaction-button {
    padding: 30px;
    background-color: #423f3e;
    width: 12rem;
    height: 7rem;
    border-radius: 10px;
    text-align: center;
    transition: transform, 2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.transaction-button:hover {
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    color: var(--page-background-color);
    font-weight: bold;
    box-shadow: rgb(254 126 57) -1px 1px, rgb(254 122 57) -2px 2px, rgb(254 126 57) -3px 3px, rgb(254 125 57) -4px 4px, rgb(220 107 65) -5px 5px, rgb(255 122 76) -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    cursor: pointer;
}

.transaction-button div {
    text-align: center;
}

.transaction-button i {
    font-size: 25px;
}

.th {
    padding: 10px 17px 10px 17px;
    border: solid 4px #171717;
}

@media only screen and (max-width: 1024px) {
    .content {
        display: grid;
    }
    .wallet-container {
        top: -4rem !important;
        right: 15rem !important;
    }
}

@media only screen and (max-width: 1067.38px) {
    .content {
        display: grid;
    }
    .wallet-container {
        right: 12rem;
    }
}

@media only screen and (max-width: 960px) {
    .wallet-container {
        right: 9rem !important;
    }
    .works {
        width: 70rem;
    }
}

@media only screen and (max-width: 872.73px) {
    .works {
        width: 65rem;
        transform: scale(0.9);
    }
    .wallet-container {
        top: -14rem !important;
        right: 20rem !important;
    }
    .side-header {
        width: 280px;
        z-index: 99;
        visibility: visible;
        opacity: 1;
    }
}

.i-icon {
    position: relative;
    top: -11%;
}


.left-side {
    display: block;
}

.status-completed {
    color: #10c76b;
}

.status-pending {
    color: #e3e32f;
}

.status-rejected {
    color: #fd3838;
}

.error-input-msg {
    color: red;
    visibility: hidden;
    font-size: 10px;
}

.error-input-msg.visible {
    visibility: visible;
}

.inventory {
    position: relative;
    top: -40%;
    width: 100%;
}
