<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>admin</title>
    <link th:href="@{/admin-styles.css}" type="text/css" href="/admin-styles.css"  rel="stylesheet">
    <base href="./">
</head>
<body>
<div class="div">
    Admin
</div>
</body>
</html>