<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/courses-create-styles.css" th:href="@{/css/courses-create-styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/modal-browse-courses-styles.css" th:href="@{/css/modal-browse-courses-styles.css}">
    <script src="https://kit.fontawesome.com/4083de25cb.js" crossorigin="anonymous"></script>
    <title>Create Course</title>
</head>

<body class="body">


<div class="content">
<div class="wrapper">

    <div class="mega-div">

        <div class="image-cropper">
            <div class="icon-div">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </div>
            <img id="blah" src="https://res.cloudinary.com/henrique-mk/image/upload/v1645374514/default_hn8tin.jpg" alt="image">
        </div>

        <form id="picture-form" enctype="multipart/form-data" method="post">

            <div class="file-div">
                <label for="file">Upload</label>
                <input id="file" name="file" class="file-input" type="file" multiple>
                <input id="input-button" type="submit"/>
            </div>
        </form>

    </div>

    <form id="create-course-form" class="create-course-form">
        <div class="field title">
            <input placeholder="Title" id="title-input" class="input">
        </div>

        <div class="dropdowns">

            <div class="topic">
                <h1 class="heading">Topic</h1>
                <select class="topic-dropdown dropdown" id="topic-input" type="text"></select>
            </div>

            <div class="difficulty">
                <h1 class="heading">Difficulty</h1>
                <select class="dropdown" id="difficulty-input">
                    <option>BEGINNER</option>
                    <option>INTERMEDIATE</option>
                    <option>ADVANCED</option>
                    <option>NERD</option>
                </select>
            </div>

            <div class="field date-field">
                <h1>Starting Date</h1>
                <input type="date" class="input" id="starting-date-input">
            </div>

        </div>

        <h2 class="header">Description</h2>
        <div class="field description">
            <textarea rows="5" cols="80" class="input" id="description-input">
        </textarea>
        </div>

    </form>

    <button CLASS="next-button" type="button">Next</button>


</div>
</div>




    <!--    <div class="button-div">-->
<!--        <button class="course-form-submit-button">Create</button>-->
<!--    </div>-->




    <div class="modal-frame">
        <div class="modal">
            <div class="modal-inset">
                <div class="button close"><i class="fa fa-close"></i></div>

                <div class="modal-body">
                    <h3 class="modal-title">What skills will the user learn <br> in the course?</h3>
                    <div class="inputs">
                        <div id="skill-1">
                            <small class="skill-label">Skill 1</small>
                            <textarea class="skill-input skill-input-1" maxlength="100"></textarea>
                        </div>
                        <div id="skill-2">
                            <small class="skill-label">Skill 2</small>
                            <textarea class="skill-input skill-input-2"></textarea>
                        </div>
                        <div id="skill-3">
                            <small class="skill-label">Skill 3</small>
                            <textarea class="skill-input skill-input-3"></textarea>
                        </div>
                    </div>

                    <div class="price_mints_div">
                        <div id="course-price-div">
                            <small class="price-label">Mint Price</small>
                            <input type="number" id="course-price">
                        </div>

                        <div id="course-available-mints">
                            <small class="mints-label price-label" >Total Mints</small>
                            <input type="number" id="total-mints" >
                        </div>
                    </div>

                    <div class="button-container-1 ">
                        <span class="mas">MASK1</span>
                        <button id='work' type="button" name="Hover">MASK1</button>
                    </div>

                    <p class="ps">the skills will be displayed to the students <br>
                        before enrolling to the course
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay"></div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../static/js/courses-create.js" th:src="@{/js/courses-create.js}"></script>

</body>

</html>