<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/courses-create-styles.css" th:href="@{/css/courses-create-styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/modal-browse-courses-styles.css" th:href="@{/css/modal-browse-courses-styles.css}">
    <script src="https://kit.fontawesome.com/4083de25cb.js" crossorigin="anonymous"></script>
    <title>Create Course</title>
</head>

<body class="body">


<div class="content">
<div class="wrapper">

    <div class="mega-div">

        <div class="image-cropper">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            <img id="blah" src="https://res.cloudinary.com/henrique-mk/image/upload/v1645374514/default_hn8tin.jpg" alt="image">
        </div>

        <form id="picture-form" enctype="multipart/form-data" method="post">

            <div class="file-div">
                <label for="file">Upload</label>
                <input id="file" name="file" class="file-input" type="file" multiple>
                <input id="input-button" type="submit"/>
            </div>
        </form>
    </div>

    <form id="create-course-form" class="create-course-form">
        <div class="field title">
            <input placeholder="Title" id="title-input" class="input">
        </div>

        <div class="dropdowns">

            <div class="topic">
                <h1 class="heading">Topic</h1>
                <select class="topic-dropdown dropdown" id="topic-input" type="text"></select>
            </div>

            <div class="difficulty">
                <h1 class="heading">Difficulty</h1>
                <select class="dropdown" id="difficulty-input">
                    <option>BEGINNER</option>
                    <option>INTERMEDIATE</option>
                    <option>ADVANCED</option>
                    <option>NERD</option>
                </select>
            </div>

            <div class="field date-field">
                <h1>Starting Date</h1>
                <input type="date" class="input" id="starting-date-input">
            </div>

        </div>

        <h2 class="header">Description</h2>
        <div class="field description">
            <textarea rows="5" cols="80" class="input" id="description-input">
        </textarea>
        </div>

    </form>

    <button CLASS="next-button" type="button">Next</button>


</div>
</div>




    <!--    <div class="button-div">-->
<!--        <button class="course-form-submit-button">Create</button>-->
<!--    </div>-->




    <div class="modal-frame">
        <div class="modal">
            <div class="modal-inset">
                <div class="button close"><i class="fa fa-close"></i></div>

                <div class="modal-body">
                    <h3 class="modal-title">What skills will the user learn in the course?</h3>
                    <div class="inputs">
                        <div id="skill-1">
                            <small class="skill-label">Skill 1</small>
                            <textarea class="skill-input" maxlength="100"></textarea>
                        </div>
                        <div id="skill-2">
                            <small class="skill-label">Skill 2</small>
                            <textarea class="skill-input"></textarea>
                        </div>
                        <div id="skill-3">
                            <small class="skill-label">Skill 3</small>
                            <textarea class="skill-input"></textarea>
                        </div>
                    </div>
                    <p class="ps">**I know the SASS is a bit messy, I did this on the fly and for fun
                        <br /> and w.e. I DO WHAT I WANT!!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay"></div>






<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script>
    $modal = $('.modal-frame');
    $overlay = $('.modal-overlay');

    /* Need this to clear out the keyframe classes so they dont clash with each other between ener/leave. Cheers. */
    $modal.bind('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(e){
        if($modal.hasClass('state-leave')) {
            $modal.removeClass('state-leave');
        }
    });

    $('.close').on('click', function() {
        hideModal()
    });

    $('.next-button').on('click', function(){
        closeModal()
    });

    function hideModal() {
        $overlay.removeClass('state-show');
        $modal.removeClass('state-appear').addClass('state-leave');
    }

    function closeModal() {
        $overlay.addClass('state-show');
        $modal.removeClass('state-leave').addClass('state-appear');
    }

    document.cookie = 'SameSite'
</script>

<script>

    let imageWasUploaded = false

    function deleteImageFromCloudinary(imageUrl) {
        $.ajax({
            type: 'POST',
            url: '/api/images/destroy',
            contentType: "application/json",
            data: {url: imageUrl},

            success: function (data) {

            },

            error: function (data) {

            }

        })
    }

    const inputButtonSelector = document.querySelector('#input-button')
    const pictureFormSelector = document.querySelector("#picture-form")
    const uploadImageSelector = document.querySelector('.file-input')
    const imageSelector = document.querySelector('.image-content')
    const courseSubmitButtonSelector = document.querySelector('.course-form-submit-button')
    const imageCropperSelector = document.querySelector(".image-cropper")

    let createSelector = document.querySelector("#create-course-button");

    const titleSelector = document.querySelector("#title-input")
    const topicSelector = document.querySelector("#topic-input")
    const descriptionSelector = document.querySelector("#description-input")
    const difficultySelector = document.querySelector("#difficulty-input")
    const startingDateSelector = document.querySelector("#starting-date-input")
    const pictureSelector = document.querySelector("#picture-input")
    const blahSelector = document.querySelector("#blah")

    const formPicture = document.querySelector('#cmon')

    let pictureWasChanged = false;
    let uploadedPictureUrl = document.getElementById('blah').src;
    let formHasErrors = [];

    function checkFieldIsNotEmpty(selector, value) {
        if (value === '' || value === ' ') {
            setErrorFor(selector, "title")
            formHasErrors.push(true)
        } else {
            //todo : maybe add checkmark next to inout field
        }
    }

    function setErrorFor(selector, errorMessage ){
        //todo
    }

    $('.course-form-submit-button').on('click', function (e) {

        e.preventDefault()
        formHasErrors.length = 0

        if (pictureWasChanged){
            uploadImage()
        }

        checkFieldIsNotEmpty(titleSelector, titleSelector.value)
        checkFieldIsNotEmpty(startingDateSelector, startingDateSelector.value)

        if (formHasErrors.length > 0) {
            alert('Please fill all required fields')
            return
        }

        createCourse()
    })

    function createCourse() {
        const courseModel = {
            title: titleSelector.value,
            topic: topicSelector.value,
            description: descriptionSelector.value,
            difficulty: difficultySelector.value,
            startingDate: startingDateSelector.value,
            picture: uploadedPictureUrl
        }

        $.ajax({
            type: "POST",
            url: "/api/courses",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(courseModel),

            success: function(data) {
                alert('course created')
            },

            error: function (data) {

            }

        })
    }

    function uploadImage() {
        if (uploadImageSelector.value === '') {
            alert("Please select a valid image")
            return
        }

        var formData = new FormData(pictureFormSelector)
        $.ajax({
            type: "POST",
            url: "/api/images/upload",
            data: formData,
            processData: false,
            contentType: false,

            success: function(imageUrl) {

                uploadedPictureUrl = imageUrl.body;
            },

            error: function(data) {
                alert("login-dumbass")
            }

        })
    }

    pictureFormSelector.onchange = evt => {
        const [file] = uploadImageSelector.files
        if (file) {
            blahSelector.src = URL.createObjectURL(file)
            pictureWasChanged = true;
        }
    }

    blahSelector.onclick = evt => {
        uploadImageSelector.click()
    }



    $.ajax({
        type: "GET",
        url: "/api/courses/topics",
        dataType: "json",

        success: function (response) {
            let topicsSelector = $(".topic-dropdown")

            $.each(response, function (index, value) {
                topicsSelector.append(
                    "<option>" + value + "</option>"
                )
            })
        },

        error: function (response) {
            prompt("error m8")
        }
    })



</script>

<!--<script>-->

<!--    let createSelector = document.querySelector("#create-course-button");-->

<!--    const titleSelector = document.querySelector("#title-input")-->
<!--    const topicSelector = document.querySelector("#topic-input")-->
<!--    const descriptionSelector = document.querySelector("#description-input")-->
<!--    const difficultySelector = document.querySelector("#difficulty-input")-->
<!--    const startingDateSelector = document.querySelector("#starting-date-input")-->
<!--    const pictureSelector = document.querySelector("#picture-input")-->

<!--    const formPicture = document.querySelector('#cmon')-->

<!--    //first test if uploading a picture works-->
<!--    //tomorrow do selectors and check if title is not unique, and fields not empty-->

<!--    createSelector.addEventListener("click", function () {-->



<!--        const courseModel = {-->
<!--            title: titleSelector.value,-->
<!--            topic: topicSelector.value,-->
<!--            description: descriptionSelector.value,-->
<!--            difficulty: difficultySelector.value,-->
<!--            startingDate: startingDateSelector.value,-->
<!--            picture: pictureSelector.value-->
<!--        }-->

<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "/api/courses",-->
<!--            dataType: "json",-->
<!--            data: JSON.stringify(courseModel),-->

<!--            success: function() {-->
<!--                alert('course created')-->
<!--            },-->

<!--            error: function () {-->
<!--                alert('something went wrong =(')-->
<!--            }-->

<!--        })-->


<!--    })-->

<!--</script>-->

</body>

</html>