<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
    <link href="../static/css/browse-styles.css" th:href="@{/css/browse-styles.css}" rel="stylesheet">
    <link href="../static/css/browse-modal.css" th:href="@{/css/browse-modal.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
</head>
<body>

<!--<div id="modal-container">-->
<!--    <div class="modal-background">-->
<!--        <div class="modal">-->
<!--            <h2>Registration successful ✔</h2>-->
<!--            <p>please login.</p>-->
<!--            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">-->
<!--                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>-->
<!--            </svg>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<div id="costumModal9" class="modal" data-easein="expandIn"  tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 id="title-modal" class="modal-title">
                    Modal Header
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                    Close
                </button>
                <button class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="courses">

</div>

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>


<script>$(".modal").each(function(l){$(this).on("show.bs.modal",function(l){var o=$(this).attr("data-easein");"shake"==o?$(".modal-dialog").velocity("callout."+o):"pulse"==o?$(".modal-dialog").velocity("callout."+o):"tada"==o? $(".modal-dialog").velocity("callout."+o):"flash"==o?$(".modal-dialog").velocity("callout."+o):"bounce"==o?$(".modal-dialog").velocity("callout."+o):"swing"==o?$(".modal-dialog").velocity("callout."+o):$(".modal-dialog").velocity("transition."+o)})});



</script>


<script>

    loadCourses()
     async function loadCourses() {
        $.ajax({
            type: "GET",
            url:"/api/courses/enabled",
            dataType: "json",

            success: function (response) {

                let tableContent = $(".courses")

                $.each(response, function (index, value) {
                tableContent.append(
                    "<a href=\"#costumModal9\" role=\"button\" class='course-modal-link' style='text-decoration: none ' data-toggle=\"modal\">"+
                      "<div class='course-element'  style='width: fit-content;'> " +
                        "<div class='course-container'>" +
                            "<div>" + "<img src='"+value.picture+"' id='course-image' style='max-width: 240px;" + "width: 100%;" + "border-radius: 3px;" + "border: 2px solid black;' src='#' alt='course image'>" + "</div>" +
                            "<div  class='course-text' style='margin: 0px 0px 0px 5px;'>" +
                                "<div id='name-course' class='course-name'>" + value.title + "</div>" +
                                    "<div class=\'star-rating\'>" +
                                        "<span class=\"fa fa-star-o\" data-rating=\"1\"></span>"+
                                        "<span class=\"fa fa-star-o\" data-rating=\"2\"></span>"+
                                        "<span class=\"fa fa-star-o\" data-rating=\"3\"></span>"+
                                        "<span class=\"fa fa-star-o\" data-rating=\"4\"></span>"+
                                        "<span class=\"fa fa-star-o\" data-rating=\"5\"></span>"+
                                        "<input type=\"hidden\" onload='' name=\"whatever3\" class=\"rating-value\" value='" +value.averageRating + "'  >" +
                                    "</div>" +
                                "<div>" + value.topic + "</div>" +
                                "<div>" + value.difficulty+ "</div>" +
                            "</div>" +
                        "</div>" +
                      "</div>" +
                    "</a>"
                )

                    var $star_rating = $('.star-rating .fa');

                    function SetRatingStar() {
                        return $star_rating.each(function() {
                            if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                return $(this).removeClass('fa-star-o').addClass('fa-star');
                            } else {
                                return $(this).removeClass('fa-star').addClass('fa-star-o');
                            }
                        });
                    };

                    $star_rating.on('click', function() {

                        $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                        return SetRatingStar();
                    });

                    SetRatingStar();
                    $(document).ready(function() {

                    });

                    document.cookie ='SameSite'
                })
            },

            error: function (data) {
                prompt("courses could not be loaded")
            }

        })
    }


    $('.modal').on('toggle', function (e) {
        $(this).getElementById('title-modal').text($(this).getElementById('name-course').content)
    })

    //# sourceURL=filename.js
</script>

</html>