<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
                 xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link href="../static/css/sticky-nav-courses-styles.css" th:href="@{/css/sticky-nav-courses-styles.css}" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel="stylesheet" href="../static/css/modal-browse-courses-styles.css" th:href="@{/css/modal-browse-courses-styles.css}">
</head>

<body class="body">

<section class="et-hero-tabs">
    <h1>STICKY SLIDER NAV</h1>
    <h3>Sliding content with sticky tab nav</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-es6">ES6</a>
        <a class="et-hero-tab" href="#tab-flexbox">Flexbox</a>
        <a class="et-hero-tab" href="#tab-react">React</a>
        <a class="et-hero-tab" href="#tab-angular">Angular</a>
        <a class="et-hero-tab" href="#tab-other">Other</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>

<main class="et-main">
    <section class="et-slide" id="tab-es6">
        <div id="browse-wrapper">

            <div class="another-wrapper">

            <h2 class="heading">Recommended Courses</h2>
            <div class="arrow-wrapper">
                <div class="random"></div>
                <a href="#" class="arrow left"></a>
            </div>
            <div id="browse-courses">

            <div th:each="course : ${courses}" class="course-element">
                <a onclick="openModal(this)" data-toggle="modal" href="#costumModal9" role="button" class='course-modal-link'>
                <div class="course-container">
                            <div class="course-image-content">
                                <img id="course-image" src="#" th:src="${course.picture}">
                            </div>
                            <div class="course-text-content">
                                <div id="name-course" th:text="${course.title}"></div>
                                <div id="topic-course" th:text="${course.topic}"></div>
                                <div id="difficulty-course" th:text="${course.difficulty}"></div>
                                <div style="visibility: hidden" class="hidden-fields">
                                    <div id="description-course" th:text="${course.description}"></div>
                                    <div id="starting-date-course" th:text="${course.startingDate}"></div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row pt-5">
                                    <div class="col-12 pt-5 text-center">
                                        <div class="review" th:rate="${course.averageRating}" rate="1"></div>
                                    </div>
                                </div>
                            </div>
                </div>
                </a>
            </div>

            </div>

            <div class="arrow-wrapper">
                <div class="random2"></div>
                <a href="#" class="arrow right"></a>
            </div>

            </div>

        </div>

    </section>

    <section class="et-slide" id="tab-flexbox">
        <h1>Flexbox</h1>
        <h3>something about flexbox</h3>
    </section>

    <section class="et-slide" id="tab-react">
        <h1>React</h1>
        <h3>something about react</h3>
    </section>

    <section class="et-slide" id="tab-angular">
        <h1>Angular</h1>
        <h3>something about angular</h3>
    </section>

    <section class="et-slide" id="tab-other">
        <h1>Other</h1>
        <h3>something about other</h3>
    </section>
</main>



<div class="modal-frame">
    <div class="modal">
        <div class="modal-inset">
            <div class="button close"><i class="fa fa-close"></i></div>

            <div class="modal-body">
                <h3 class="modal-title">Such Modal, Much Animate!</h3>
                <p class="modal-description">Nothing groundbreaking, but I hope you enjoyed <br /> the physics for the open/close animation =).</p>
                <p class="ps">**I know the SASS is a bit messy, I did this on the fly and for fun <br /> and w.e. I DO WHAT I WANT!!</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay"></div>




<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


<script>

        $modal = $('.modal-frame');
        $overlay = $('.modal-overlay');

        /* Need this to clear out the keyframe classes so they dont clash with each other between ener/leave. Cheers. */
        $modal.bind('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(e){
            if($modal.hasClass('state-leave')) {
                $modal.removeClass('state-leave');
            }
        });

        $('.close').on('click', function() {
            hideModal()
        });

        $('.course-modal-link').on('click', function(){
            closeModal()
        });

        function hideModal() {
            $overlay.removeClass('state-show');
            $modal.removeClass('state-appear').addClass('state-leave');
        }

        function closeModal() {
            $overlay.addClass('state-show');
            $modal.removeClass('state-leave').addClass('state-appear');
        }

        document.cookie = 'SameSite'
</script>


<script>

    const modalSelector = document.querySelector('.modal-frame')
    const modalContentSelector = document.querySelector('.modal-content')
    const bodySelector = document.querySelector('.body')
    const modalTitleSelector = document.querySelector('.modal-title')
    const modalDescriptionSelector = document.querySelector('.modal-description')

    //todo make click on background of modal, exit modal,
    // also make modal show information of clicked item

    modalSelector.addEventListener('click', function (e) {

            if (modalSelector.classList.contains('open')) {
                if (e.target === modalSelector) {
                    hideModal()
                }
            }

    })


    function openModal(e) {
        modalSelector.classList.add('open')
        let courseTitle = e.querySelector('#name-course')
        const courseDescription = e.querySelector('#description-course')
        modalTitleSelector.innerHTML = courseTitle.innerHTML
        modalDescriptionSelector.innerHTML = courseDescription.innerHTML
        console.log('hello')
    }

</script>

<script>


    (function ($) {
        $(function () {
            $('.review').each(function(){
                getRate($(this));
            });



            function getRate(s){
                var rate = Math.round(s.attr('rate'));

                var good = 0 + rate;
                var bad = 5 - good;

                for (i = 0; i < 5; i++) {
                    if(rate >= good && good){
                        s.append('<i class="fas fa-star"></i>');
                        good--;
                    } else{
                        s.append('<i class="far fa-star"></i>');
                    }
                }
            }
        });
    })(jQuery);
</script>


<script>

    const courseElements = document.querySelectorAll('.course-element')
    const courseBrowse = document.querySelector('#browse-courses')
    const arrowWrapper = document.querySelector('.arrow-wrapper')
    const rightArrow = document.querySelector('.right')

    rightArrow.addEventListener('click', function (e) {
        e.preventDefault()
        loadNextCourses()
    })


    reset()
    function reset() {
        courseElements.forEach((element, index) => displayCourses(element, index))
    }


    function displayCourses(element, index) {


        if (index > 4){
            element.style.opacity = "0"
            element.style.transform = `TranslateX(${ 420 }%)`
        } else {
            element.style.opacity = '1'
            element.style.zIndex = '10'
            element.style.transform = `TranslateX(${ (100 * index) + (5 * index) }%)`
        }

    }

    let firstElementIndex = 0
    let lastElementIndex = 4;
    let currentRowElement = 0 // 0 to 4

    function loadNextCourses() {

        //check if we can show a new row with atleast 1 course
        if (firstElementIndex +4 > courseElements.length -1){
            reset()
            firstElementIndex = 0
            lastElementIndex = 4
            return
        }

        firstElementIndex += 5;
        lastElementIndex += 5;
        currentRowElement = 0

        courseElements.forEach((element, index) =>  {

            if (index < firstElementIndex - 5) {
                return;
            }

            if (index >= firstElementIndex -5 && index < firstElementIndex) {
                element.style.transform = `TranslateX(${0}%)`
                element.style.opacity = '0'
            }
            else if (index >= firstElementIndex && index <= lastElementIndex) {
                element.style.opacity = '1'
                element.style.zIndex = '10'
                element.style.transform = `TranslateX(${ (100 * currentRowElement) + (5 * currentRowElement++) }%)`
            }

        })
    }

</script>

<script>

    class StickyNavigation {

        constructor() {
            this.currentId = null;
            this.currentTab = null;
            this.tabContainerHeight = 70;
            let self = this;
            $('.et-hero-tab').click(function() {
                self.onTabClick(event, $(this));
            });
            $(window).scroll(() => { this.onScroll(); });
            $(window).resize(() => { this.onResize(); });
        }

        onTabClick(event, element) {
            event.preventDefault();
            let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
            $('html, body').animate({ scrollTop: scrollTop }, 600);
        }

        onScroll() {
            this.checkTabContainerPosition();
            this.findCurrentTabSelector();
        }

        onResize() {
            if(this.currentId) {
                this.setSliderCss();
            }
        }

        checkTabContainerPosition() {
            let offset = $('.et-hero-tabs').offset().top + $('.et-hero-tabs').height() - this.tabContainerHeight;
            if($(window).scrollTop() > offset) {
                $('.et-hero-tabs-container').addClass('et-hero-tabs-container--top');
            }
            else {
                $('.et-hero-tabs-container').removeClass('et-hero-tabs-container--top');
            }
        }

        findCurrentTabSelector(element) {
            let newCurrentId;
            let newCurrentTab;
            let self = this;
            $('.et-hero-tab').each(function() {
                let id = $(this).attr('href');
                let offsetTop = $(id).offset().top - self.tabContainerHeight;
                let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
                if($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
                    newCurrentId = id;
                    newCurrentTab = $(this);
                }
            });
            if(this.currentId != newCurrentId || this.currentId === null) {
                this.currentId = newCurrentId;
                this.currentTab = newCurrentTab;
                this.setSliderCss();
            }
        }

        setSliderCss() {
            let width = 0;
            let left = 0;
            if(this.currentTab) {
                width = this.currentTab.css('width');
                left = this.currentTab.offset().left;
            }
            $('.et-hero-tab-slider').css('width', width);
            $('.et-hero-tab-slider').css('left', left);
        }

    }

    new StickyNavigation();
</script>

</body>
</html>