<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
                 xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link href="../static/css/sticky-nav-courses-styles.css" th:href="@{/css/sticky-nav-courses-styles.css}" rel="stylesheet">
</head>

<body>

<section class="et-hero-tabs">
    <h1>STICKY SLIDER NAV</h1>
    <h3>Sliding content with sticky tab nav</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-es6">ES6</a>
        <a class="et-hero-tab" href="#tab-flexbox">Flexbox</a>
        <a class="et-hero-tab" href="#tab-react">React</a>
        <a class="et-hero-tab" href="#tab-angular">Angular</a>
        <a class="et-hero-tab" href="#tab-other">Other</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>



<!--"<a href=\"#costumModal9\" role=\"button\" class='course-modal-link' style='text-decoration: none ' data-toggle=\"modal\">"+-->
<!--    "<div class='course-element'  style='width: fit-content;'> " +-->
<!--        "<div class='course-container'>" +-->
<!--            "<div>" + "<img src='"+value.picture+"' id='course-image' style='max-width: 240px;" + "width: 100%;" + "border-radius: 3px;" + "border: 2px solid black;' src='#' alt='course image'>" + "</div>" +-->
<!--            "<div  class='course-text' style='margin: 0px 0px 0px 5px;'>" +-->
<!--                "<div id='name-course' class='course-name'>" + value.title + "</div>" +-->
<!--                "<div class=\'star-rating\'>" +-->
<!--                    "<span class=\"fa fa-star-o\" data-rating=\"1\"></span>"+-->
<!--                    "<span class=\"fa fa-star-o\" data-rating=\"2\"></span>"+-->
<!--                    "<span class=\"fa fa-star-o\" data-rating=\"3\"></span>"+-->
<!--                    "<span class=\"fa fa-star-o\" data-rating=\"4\"></span>"+-->
<!--                    "<span class=\"fa fa-star-o\" data-rating=\"5\"></span>"+-->
<!--                    "<input type=\"hidden\" onload='' name=\"whatever3\" class=\"rating-value\" value='" +value.averageRating + "'  >" +-->
<!--                    "</div>" +-->
<!--                "<div>" + value.topic + "</div>" +-->
<!--                "<div>" + value.difficulty+ "</div>" +-->
<!--                "</div>" +-->
<!--            "</div>" +-->
<!--        "</div>" +-->
<!--    "</a>"-->

<!-- Main -->



<main class="et-main">
    <section class="et-slide" id="tab-es6">

        <div id="browse-wrapper">

            <h2 class="heading">Recommended Courses</h2>
            <div class="arrow-wrapper">
                <div class="random"></div>
                <a href="#" class="arrow left"></a>
            </div>
            <div id="browse-courses">

            <div th:each="course : ${courses}" class="course-element">
                    <a>
                        <div class="course-container">
                            <div class="course-image-content">
                                <img id="course-image" src="#" th:src="${course.picture}">
                            </div>
                            <div class="course-text-content">
                                <div id="name-course" th:text="${course.title}"></div>
                                <div id="topic-course" th:text="${course.topic}"></div>
                                <div id="difficulty-course" th:text="${course.difficulty}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="arrow-wrapper">
                <div class="random2"></div>
                <a href="#" class="arrow right"></a>
            </div>
        </div>


    </section>

    <section class="et-slide" id="tab-flexbox">
        <h1>Flexbox</h1>
        <h3>something about flexbox</h3>
    </section>

    <section class="et-slide" id="tab-react">
        <h1>React</h1>
        <h3>something about react</h3>
    </section>

    <section class="et-slide" id="tab-angular">
        <h1>Angular</h1>
        <h3>something about angular</h3>
    </section>

    <section class="et-slide" id="tab-other">
        <h1>Other</h1>
        <h3>something about other</h3>
    </section>
</main>




<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script>

    const courseElements = document.querySelectorAll('.course-element')
    const courseBrowse = document.querySelector('#browse-courses')
    const arrowWrapper = document.querySelector('.arrow-wrapper')
    const rightArrow = document.querySelector('.right')

    rightArrow.addEventListener('click', function (e) {
        e.preventDefault()
        loadNextCourses()
    })


    reset()
    function reset() {
        courseElements.forEach((element, index) => displayCourses(element, index))
    }


    function displayCourses(element, index) {

        if (index > 5){
            element.style.opacity = "0"
            element.style.transform = `TranslateX(${ 525 }%)`
        } else {
            element.style.opacity = '1'
            element.style.transform = `TranslateX(${ (100 * index) + (5 * index) }%)`
        }

    }

    let firstElementIndex = 0
    let lastElementIndex = 5;
    let currentRowElement = 0 // 0 to 4

    function loadNextCourses() {

        //check if we can show a new row with atleast 1 course
        if (firstElementIndex +5 > courseElements.length -1){
            reset()
            firstElementIndex = 0
            lastElementIndex = 5
            return
        }

        firstElementIndex += 6;
        lastElementIndex += 6;
        currentRowElement = 0

        courseElements.forEach((element, index) =>  {

            if (index < firstElementIndex - 6) {
                return;
            }

            if (index >= firstElementIndex -6 && index < firstElementIndex) {
                element.style.transform = `TranslateX(${0}%)`
                element.style.opacity = '0'
            }
            else if (index >= firstElementIndex && index <= lastElementIndex) {
                element.style.opacity = '1'
                element.style.transform = `TranslateX(${ (100 * currentRowElement) + (5 * currentRowElement++) }%)`
            }

        })
    }

</script>

<script>

    class StickyNavigation {

        constructor() {
            this.currentId = null;
            this.currentTab = null;
            this.tabContainerHeight = 70;
            let self = this;
            $('.et-hero-tab').click(function() {
                self.onTabClick(event, $(this));
            });
            $(window).scroll(() => { this.onScroll(); });
            $(window).resize(() => { this.onResize(); });
        }

        onTabClick(event, element) {
            event.preventDefault();
            let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
            $('html, body').animate({ scrollTop: scrollTop }, 600);
        }

        onScroll() {
            this.checkTabContainerPosition();
            this.findCurrentTabSelector();
        }

        onResize() {
            if(this.currentId) {
                this.setSliderCss();
            }
        }

        checkTabContainerPosition() {
            let offset = $('.et-hero-tabs').offset().top + $('.et-hero-tabs').height() - this.tabContainerHeight;
            if($(window).scrollTop() > offset) {
                $('.et-hero-tabs-container').addClass('et-hero-tabs-container--top');
            }
            else {
                $('.et-hero-tabs-container').removeClass('et-hero-tabs-container--top');
            }
        }

        findCurrentTabSelector(element) {
            let newCurrentId;
            let newCurrentTab;
            let self = this;
            $('.et-hero-tab').each(function() {
                let id = $(this).attr('href');
                let offsetTop = $(id).offset().top - self.tabContainerHeight;
                let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
                if($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
                    newCurrentId = id;
                    newCurrentTab = $(this);
                }
            });
            if(this.currentId != newCurrentId || this.currentId === null) {
                this.currentId = newCurrentId;
                this.currentTab = newCurrentTab;
                this.setSliderCss();
            }
        }

        setSliderCss() {
            let width = 0;
            let left = 0;
            if(this.currentTab) {
                width = this.currentTab.css('width');
                left = this.currentTab.offset().left;
            }
            $('.et-hero-tab-slider').css('width', width);
            $('.et-hero-tab-slider').css('left', left);
        }

    }

    new StickyNavigation();
</script>

</body>
</html>